{% extends 'base.html' %}
{% block head_title %}
Order Summary
{% endblock head_title %}

{% block content %}
    <main class="mt-5 pt-5">
        <div class="container">
            <div class="table-responsive">
                <h2>Order summary</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order_item in object.items.all %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{order_item.item.title}}</td>
                            <td>
                            {% if order_item.item.discount_price %}
                                ${{order_item.item.discount_price}}                  
                            {% else %}
                                ${{order_item.item.price}}
                            {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'core:remove_single_item_from_cart' order_item.item.slug %}" class=""><i class="fas fa-minus mr-1"></i></a>                                                             
                                {{order_item.quantity}}
                                <a href="{% url 'core:add_to_cart' order_item.item.slug %}"><i class="fas fa-plus ml-1"></i></a>
                                
                            </td>
                            <td>
                            {% if order_item.item.discount_price %}
                                ${{order_item.get_item_total_discount_price}}
                                <span class="badge badge-primary">
                                (saving ${{order_item.get_amount_saved}}) 
                                </span>                
                            {% else %}
                                ${{order_item.get_item_total_price}}
                            {% endif %}
                            <a href="{% url 'core:remove_from_cart' order_item.item.slug %}" 
                                class="float-right"
                                style='color: red; font-size:20px'>
                                <i class="fas fa-trash"></i>
                            </a>   
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">Your cart is empty</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                            <a class="btn btn-default float-right ml-2" href="{% url 'core:item_list' %}">Continue Shopping</a>
                            </td>
                        </tr>  
                        {% endfor %}
                        {% if object.get_total %}
                        {% if object.coupon %}
                            <tr>
                                <td colspan="4"><b>Coupon:</b></td>
                                <td><b>-${{object.coupon.amount}}</b></td>
                            </tr>
                        {% endif %}
                            <tr>
                                <td colspan="4"><b> Order Total: </b></td>
                                <td><b>${{object.get_total}}</b></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                <a class="btn btn-default float-right ml-2" href="{% url 'core:item_list' %}">Continue Shopping</a>
                                <a class="btn btn-warning float-right" href="{% url 'core:check_out' %}">Proceed to checkout</a>
                                </td>
                            </tr>                 
                        {% endif %}
                    </tbody>
                </table>
            </div>
        
        </div>
    </main>
{% endblock content %}